known_blood {
  name = "NashGore";
  matchany = ["*NashGore*", "*Nash_Gore*"];
  blockspawn = false; // block is the default one, but it should be false in order to properly replace blood
  replace "*NashGore*Blood*" with "Blood";
  replace "*Nash_Gore*Blood*" with "Blood";
}

known_blood {
  name = "Ketchup/Brutal";
  match = "Brutal_Blood";
}

known_blood {
  name = "Bolognese";
  match = "Bolognese_Blood";
}

known_blood {
  name = "Ketchup/Brutal/Bolognese";
  match = "BloodSPlatterReplacer";
}

known_blood {
  name = "Sanity's Requiem";
  match = "IRBlood*";
}


known_blood {
  name = "Samsara";
  match = "SamsaraBloodyHellBlood*";
}


known_blood {
  name = "Doom Gaiden";
  //matchany = ["SZ_*Blood", "SZ_*Blood2"];
  //blockspawn = false; // block is the default one, but it should be false in order to properly replace blood
  replace "SZ_*Blood" with "Blood";
  replace "SZ_*Blood2" with "Blood";
}

known_blood {
  name = "Doom Gaiden";
  matchany = "SZ_Flying*Blood*";
}


known_blood {
  name = "Doom Tribute";
  match = "RedBlood_LM"; // standard blood replacement
  matchany = "Bloodpiece_*"; // block all blood pieces
  //matchany = ["Bloodpiece_*", "*Blood_LM"];
  // force-replace various colored blood
  replace "*Blood_LM" with "Blood";
}
